@using Org.BouncyCastle.Asn1.Cmp
@using View.ViewModels
@model KillerApp.ViewModels.MovieViewModel

@{
    ViewData["Title"] = "HomePage";
}
<div class="col-md-12">
    <h2><B>@Html.DisplayFor(modelItem => Model.Title)</B></h2>
    <span>Release date: </span> @Html.DisplayFor(modelItem => Model.ReleaseDate);
    <br><br>
    @Html.DisplayFor(modelItem => Model.ShortDescription);
    @foreach (GenreViewModel genre in Model.Genres)
    {
        @Html.Partial("GenrePartial", genre)
    }
</div>