@using View.ViewModels
@using Models.Enums
@model View.ViewModels.SearchViewModel


<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Index" asp-controller="Movie">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table table-hover">
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="SearchTerm" class="control-label"></label>
                            <input asp-for="SearchTerm" placeholder="Search" class="form-control" />
                            <span asp-validation-for="SearchTerm" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <label asp-for="SortBy">Sort by:</label>
                        <select class="form-control" id="SortBy" name="SortBy" asp-items="Html.GetEnumSelectList<SortBy>()">

                        </select>
                    </td>
                    <td>
                        <label asp-for="GenreId" class="control-label"></label>
                        <select class="form-control" id="Genre" name="GenreId">
                            <option value="-1">All Genres</option>
                            @foreach (GenreViewModel genre in Model.AllGenres)
                            {
                                <option value="@genre.GenreId">@genre.Genre</option>
                            }
                        </select>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="ReleasedAfter" class="control-label"></label>
                            <input asp-for="ReleasedAfter" class="form-control" />
                            <span asp-validation-for="ReleasedAfter" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="ReleasedBefore" class="control-label"></label>
                            <input asp-for="ReleasedBefore" class="form-control" />
                            <span asp-validation-for="ReleasedBefore" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="form-group" align="right">
                <button type="submit" class="btn btn-primary" formaction="">Search</button>
            </div>
        </form>
    </div>
</div>



