@using Microsoft.AspNetCore.Routing
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using View.ViewModels
@model View.ViewModels.GenreViewModel

<hr />
<div class="row">
    <div class="col-md-4">
        @if (Model.AllGenres.Count > 0)
        {
        <form asp-action="AddGenreToMovie" asp-controller="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input data-val="true" id="MovieId" name="MovieId" type="hidden" value="@Context.GetRouteData().Values["id"]">

            <label asp-for="GenreId" class="control-label"></label>
            <select class="form-control" id="Genre" name="GenreId">
                <option value="-1">All Genres</option>
                @foreach (GenreViewModel genre in Model.AllGenres)
                {
                    <option value="@genre.GenreId">@genre.Genre</option>
                }
            </select>
            <span asp-validation-for="Genre" class="text-danger"></span>

            <div class="form-group">
                <input type="submit" value="Add to Movie" class="btn btn-default" />
            </div>
        </form>
        }
        @if (Model.AllGenres.Count < 1)
        {
            <h2>All genres have already been added to this movie</h2>
        }
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Movie">Back to List</a>
</div>

