@model IEnumerable<KillerApp.ViewModels.MovieViewModel>

@{
    ViewData["Title"] = "HomePage";
}

<h2>HomePage</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{

    <h2><B>@Html.DisplayFor(modelItem => item.Title)</B></h2>

    <span>Release date: </span> @Html.DisplayFor(modelItem => item.ReleaseDate);
    <br><br>
    @Html.DisplayFor(modelItem => item.ShortDescription);
}

