@model IEnumerable<KillerApp.ViewModels.MovieViewModel>
@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("Search")

@if (User.IsInRole("User"))
{
    <p>User is logged in</p>
}

@foreach (var item in Model)
{
    @Html.Partial("MovieListPartial", item)
}
