@model View.ViewModels.MovieViewModel

@{
    ViewData["Title"] = "MovieInfo";
}


<div>
    <br/>
    <br/>
    <h3>
        @Html.DisplayFor(model => model.Title)
        <small class="text-muted">
            @Html.DisplayFor(model => model.ReleaseDate)
        </small>
    </h3>

    @Html.DisplayFor(model => model.Description)
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
